atlassian-python-api
elasticsearch
spacy
psycopg2
flask
fastapi
dask
pyarrow
pyspark
jupyter
notebook
seaborn
scikit-learn
pandas
tensorflow-cpu
keras
faiss-cpu
torch
transformers
bitsandbytes
accelerate
sqlparse
ctransformers
llama-cpp-python
langchain
