atlassian-python-api
elasticsearch
spacy
psycopg2
flask
fastapi
dask
pyarrow
pyspark
jupyter
notebook
seaborn
scikit-learn
pandas
tensorflow-cpu
keras
faiss-cpu
torch
transformers
bitsandbytes
accelerate
sqlparse
ctransformers
llama-cpp-python
langchain[all]
mitreattack-python
optimum
auto-gptq
protobuf
SentencePiece
tiktoken
llama-index
nltk
trl
tqdm
dash
plotly
sqlalchemy
requests
beautifulsoup4
pyyaml
bokeh
matplotlib
scipy
numpy
opencv-python
XGBoost
rapids
redis
spacy
fastai
httpie
faker
prophet
networkx
ciphey
nni
h2o
flaml
neural-compressor
pytextrank
ray
hanlp
cntk
nemo
gensim
onnx
bayesian-optimization
textattack
allennlp
bigartm
tokenizers
jax
lightning
paddlepaddle
statsmodels
haiku
nnabla
flair
Fairseq
sentence-transformers
fasttext
stanza
torchvision
dgl
torch_geometric
pyg-lib
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
spektral
graph_nets
sktime[all_extras]
tsfresh
darts
easyocr
pytesseract
deepspeed
distributed
horovod
bigdl-llm[all]
colossalai
synapse
rasa
timm
dask-ml
hyperopt
botorch
featuretools
autokeras
autogluon
gym
dopamine-rl
recommenders
lightfm
torchrec
tensorflow_ranking
syft
opacus
mlflow
pycaret
bentoml
torchserve
torch-model-archiver
torch-workflow-archiver
shap
arviz
netron
interpret
dowhy
tensorflow_probability
pyro-ppl
gpytorch
hmmlearn
cleverhans
advertorch
imbalanced-learn
mlxtend
category_encoders
scikit-learn-intelex
scikit-multilearn
pytorch_metric_learning
tinygrad
torchsde
torchdiffeq
torch_optimizer
pytorch-tabnet
pytorch-scatter
pytorch-sparse
scipy
gradio
datasette
pyod
pandasai
causalml
prince
anomalib
pymc
detectron2
fmmax
laser_encoders
torchbiggraph
statsmodels
diffusers
flask
configparser
requests
argparse
json
rich
Theano
evaluate
langserve
autotrain-advanced
Optimum
PEFT
safetensors
TRL
accelerate
git+https://github.com/facebookresearch/detectron2.git
scikit-image
mysql-connector-python
bitsandbytes
mlpy
SymPy
vaex
hdfs
boto3
langchain[all]
Statsmodels
pyhdfs
PyPDF
Unstructured
PyPDFium2
PDFMiner
PyMuPDF
PDFPlumber
algorithms
twisted[tls]
oauth2
easyocr
face_recognition
kornia
kornia[x]
opencv
tesserocr
eventlet
gevent
cryptography
paramiko
blaze
pyoptimus
orange3
vispy
pygraphviz
tinydb
PyMySQL
queries
sqlite3
kafka-python
maya
fabric
luigi
mrjob
faust
sphinx
graphene
confluent-kafka
twisted
streamparse
Pillow
defusedxml
olefile
Cython
xgboost
gensim
langid
pattern
polyglot
pytext-nlp
pytorch-nlp
spacy
stanza
devpi
devpi-server
devpi-client
devpi-web
annoy
fastFM
implicit
lightfm
spotlight
surprise
tensorrec
Flask-API
colour
karateclub
pysolr
rospy
tablib
ml_metrics
h2o
apache-airflow
python-barcode
docxtpl
python-textops3
pyexcel
mistune
Celery
'dramatiq[redis, watch]'
rq
mrq
huey
Jinja2
python-Levenshtein
textdistance
Pygments
libcloud
newspaper
pytest
django
difflib
Fuzzywuzzy
hypothesis
flask
configparser
requests
argparse
json
rich
Theano
evaluate
langserve
autotrain-advanced
Optimum
PEFT
safetensors
TRL
accelerate
git+https://github.com/facebookresearch/detectron2.git
flask
configparser
requests
argparse
json
rich
Theano
evaluate
langserve
autotrain-advanced
Optimum
PEFT
safetensors
TRL
accelerate
git+https://github.com/facebookresearch/detectron2.git
scikit-image
mysql-connector-python
bitsandbytes
mlpy
SymPy
vaex
hdfs
boto3
langchain[all]
Statsmodels
pyhdfs
PyPDF
Unstructured
PyPDFium2
PDFMiner
PyMuPDF
PDFPlumber
algorithms
twisted[tls]
oauth2
easyocr
face_recognition
kornia
kornia[x]
opencv
tesserocr
eventlet
gevent
cryptography
paramiko
blaze
pyoptimus
orange3
vispy
pygraphviz
tinydb
PyMySQL
queries
sqlite3
kafka-python
maya
fabric
luigi
mrjob
faust
sphinx
graphene
confluent-kafka
twisted
streamparse
Pillow
defusedxml
olefile
Cython
xgboost
gensim
langid
pattern
polyglot
pytext-nlp
pytorch-nlp
spacy
stanza
devpi
devpi-server
devpi-client
devpi-web
annoy
fastFM
implicit
lightfm
spotlight
surprise
tensorrec
Flask-API
colour
karateclub
pysolr
rospy
tablib
ml_metrics
h2o
apache-airflow
python-barcode
docxtpl
python-textops3
pyexcel
mistune
Celery
'dramatiq[redis, watch]'
rq
mrq
huey
Jinja2
python-Levenshtein
textdistance
Pygments
libcloud
newspaper
pytest
django
difflib
Fuzzywuzzy
hypothesis
flask
configparser
requests
argparse
json
rich
Theano
evaluate
langserve
autotrain-advanced
Optimum
PEFT
safetensors
TRL
accelerate
torch-scatter
torch-sparse
git+https://github.com/facebookresearch/detectron2.git
urllib3
certifi
impyla
faust
sasl
thrift
thrift-sasl
PyHive
hbase
kerberos
pyomo
pulp
dowel
tensorwatch
nebuly
netron
maze-rl
quickvision
jax
jaxlib
flax[all]
feast
tensorforce
singa
pygraphviz
hebel
deeppy
deepdiff
uvicorn
gunicorn
tornado
dnspython
docker
bcrypt
distlib
pymysql
scipy
pyOpenSSL
decorator
tomli
rsa
click
botocore
keras-cv
keras-nlp
keras-torch
torchaudio
torchvision
localstack
scrapy
rich
dash
bokeh
pydantic
matplotlib
ply
huggingface_hub[cli,torch]
tldextract
publicsuffix2
publicsuffixlist
geoip2
pefile
scapy
yara
chromadb
python-gitlab
kubernetes
podman
dulwich
