accelerate
advertorch
algorithms
annoy
anomalib
apache-airflow
argparse
arviz
atlassian-python-api
autogluon
auto-gptq
autokeras
autotrain-advanced
bayesian-optimization
bcrypt
beautifulsoup4
bentoml
bigartm
bigdl-llm[all]
bitsandbytes
blaze
bokeh
boto3
botocore
botorch
category_encoders
causalml
Celery
certifi
chromadb
ciphey
cleverhans
click
colossalai
colour
configparser
confluent-kafka
cryptography
ctransformers
Cython
darts
dash
dask
dask-ml
datasette
decorator
deepdiff
deepspeed
defusedxml
devpi
devpi-client
devpi-server
devpi-web
dgl
diffusers
distlib
distributed
django
dnspython
docker
docxtpl
dopamine-rl
dowel
dowhy
dramatiq[redis]
dulwich
easyocr
elasticsearch
evaluate
eventlet
fabric
face_recognition
Fairseq
faiss-cpu
faker
fastai
fastapi
fastFM
fasttext
faust
feast
featuretools
flair
flaml
flask
Flask-API
flax[all]
fmmax
Fuzzywuzzy
gensim
geoip2
gevent
git+https://github.com/facebookresearch/detectron2.git
git+https://github.com/pyg-team/pyg-lib.git
git+https://github.com/run-llama/llama_index
git+https://github.com/tensorforce/tensorforce.git
gpytorch
gradio
graphene
graph_nets
gunicorn
gym
h2o
hanlp
hbase
hdfs
hebel
hmmlearn
horovod
httpie
huey
huggingface_hub[cli,torch]
hyperopt
hypothesis
imbalanced-learn
implicit
importlib
impyla
interpret
jax
jaxlib
Jinja2
jupyter
kafka-python
karateclub
keras
keras-cv
keras-nlp
kerberos
kornia
kornia[x]
kubernetes
langchain[all]
langchain-community
langchain-core
langchain-experimental
langgraph
langid
langserve
langserve[all]
laser_encoders
lightfm
lightning
llama-cpp-python
llama-index
llama-index-agent-openai
llama-index-core
llama-index-embeddings-adapter
llama-index-embeddings-elasticsearch
llama-index-embeddings-huggingface
llama-index-embeddings-huggingface-optimum
llama-index-embeddings-huggingface-optimum-intel
llama-index-embeddings-instructor
llama-index-embeddings-langchain
llama-index-embeddings-ollama
llama-index-embeddings-openai
llama-index-embeddings-text-embeddings-inference
llama-index-extractors-entity
llama-index-graph-stores-neo4j
llama-index-llms-huggingface
llama-index-llms-langchain
llama-index-llms-llama-api
llama-index-llms-llama-cpp
llama-index-llms-nvidia
llama-index-llms-nvidia-tensorrt
llama-index-llms-nvidia-triton
llama-index-llms-ollama
llama-index-llms-openai-like
llama-index-llms-openllm
llama-index-llms-vllm
llama-index-multi-modal-llms-ollama
llama-index-networks
llama-index-output-parsers-guardrails
llama-index-output-parsers-langchain
llama-index-packs-agents-coa
llama-index-packs-agent-search-retriever
llama-index-packs-agents-lats
llama-index-packs-agents-llm-compiler
llama-index-packs-auto-merging-retriever
llama-index-packs-chroma-autoretrieval
llama-index-packs-corrective-rag
llama-index-packs-dense-x-retrieval
llama-index-packs-evaluator-benchmarker
llama-index-packs-fusion-retriever
llama-index-packs-fuzzy-citation
llama-index-packs-infer-retrieve-rerank
llama-index-packs-llama-dataset-metadata
llama-index-packs-multi-document-agents
llama-index-packs-multi-tenancy-rag
llama-index-packs-neo4j-query-engine
llama-index-packs-node-parser-semantic-chunking
llama-index-packs-query-understanding-agent
llama-index-packs-raft-dataset
llama-index-packs-ragatouille-retriever
llama-index-packs-rag-cli-local
llama-index-packs-rag-evaluator
llama-index-packs-recursive-retriever
llama-index-packs-redis-ingestion-pipeline
llama-index-packs-searchain
llama-index-packs-self-discover
llama-index-packs-self-rag
llama-index-packs-sentence-window-retriever
llama-index-packs-subdoc-summary
llama-index-packs-tables
llama-index-packs-zephyr-query-engine
llama-index-program-guidance
llama-index-program-openai
llama-index-question-gen-guidance
llama-index-question-gen-openai
llama-index-readers-agent-search
llama-index-readers-chroma
llama-index-readers-confluence
llama-index-readers-database
llama-index-readers-elasticsearch
llama-index-readers-faiss
llama-index-readers-file
llama-index-readers-graphql
llama-index-readers-hive
llama-index-readers-jira
llama-index-readers-json
llama-index-readers-llama-parse
llama-index-readers-pandas-ai
llama-index-readers-papers
llama-index-readers-pdf-table
llama-index-readers-s3
llama-index-readers-smart-pdf-loader
llama-index-readers-web
llama-index-retrievers-bm25
llama-index-storage-docstore-elasticsearch
llama-index-storage-docstore-postgres
llama-index-storage-docstore-redis
llama-index-storage-index-store-elasticsearch
llama-index-storage-index-store-postgres
llama-index-storage-index-store-redis
llama-index-storage-kvstore-elasticsearch
llama-index-storage-kvstore-postgres
llama-index-storage-kvstore-redis
llama-index-tools-arxiv
llama-index-tools-database
llama-index-tools-graphql
llama-index-tools-neo4j
llama-index-tools-requests
llama-index-tools-vector-db
llama-index-vector-stores-analyticdb
llama-index-vector-stores-cassandra
llama-index-vector-stores-chroma
llama-index-vector-stores-elasticsearch
llama-index-vector-stores-faiss
llama-index-vector-stores-neo4jvector
llama-index-vector-stores-postgres
llama-index-vector-stores-redis
localstack
luigi
matplotlib
maya
maze-rl
mistune
mitreattack-python
mlflow
mlpy
mlxtend
mrjob
mrq
mysql-connector-python
nebuly
nemo
netron
networkx
neural-compressor
newspaper3k
nltk
nnabla
nni
notebook
numpy
oauth2
olefile
onnx
opacus
opencv-python
optimum
Optimum
orange3
paddlepaddle
pandas
pandasai
paramiko
pattern
PDFMiner
PDFPlumber
pefile
PEFT
Pillow
plotly
ply
podman
poetry
polyglot
prince
prophet
protobuf
psycopg2
publicsuffix2
publicsuffixlist
pulp
pyarrow
pycaret
pydantic
pyexcel
Pygments
pygraphviz
pyhdfs
PyHive
pymc
PyMuPDF
pymysql
PyMySQL
pyod
pyomo
pyOpenSSL
pyoptimus
PyPDF
PyPDFium2
pyro-ppl
pysolr
pyspark
pytesseract
pytest
pytext-nlp
pytextrank
python-barcode
python-gitlab
python-Levenshtein
python-textops3
pytorch_metric_learning
pytorch-nlp
pytorch-tabnet
pyyaml
queries
quickvision
rapids
rasa
ray
recommenders
redis
requests
rich
rq
rsa
safetensors
sasl
scapy
scikit-build-core
scikit-image
scikit-learn
scikit-learn-intelex
scikit-multilearn
scipy
scrapy
seaborn
SentencePiece
sentence-transformers
shap
sktime[all_extras]
slate
spacy
spektral
sphinx
spotlight
sqlalchemy
sqlparse
stanza
statsmodels
Statsmodels
streamparse
surprise
syft
SymPy
synapse
tablib
tensorflow
tensorflow-cpu
tensorflow_probability
tensorflow_ranking
tensorforce
tensorrec
tensorwatch
tesserocr
textattack
textdistance
Theano
thrift
thrift-sasl
tiktoken
timm
tinydb
tinygrad
tldextract
tokenizers
tomli
torch
torchaudio
torchbiggraph
torch-cluster
torchdiffeq
torch_geometric
torch-model-archiver
torch_optimizer
torchrec
torch-scatter
torchsde
torchserve
torch-sparse
torch-spline-conv
torchvision
torch-workflow-archiver
tornado
tqdm
transformers
trl
TRL
tsfresh
twisted
twisted[tls]
Unstructured
urllib3
uvicorn
vaex
vispy
vllm
xgboost
XGBoost
yara
html2text
